<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simbir soft тестовое задание</title>
</head>
<body>
    <div class = "main_div">
        <h3 align="center">Тест по теме Python.django</h3>
        <p>Добрый день предлагаем вам пройти тест по теме python django который не займёт много времени не больше 5 минут</p>
        <a href = '/questions_1?previous=1'>
            <input type = "button" value = "Пройти тест">

        </a>

    </div>
</body>
</html>
<style>
    .main_div {
        margin-top: 69px;
        text-align: center;
    }
</style>